<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/users/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{with .User}}{{.Username}}{{end}}">
        {{with .Errors}}{{with index . "Username"}}<div style="color:red">{{.}}</div>{{end}}{{end}}
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{with .User}}{{.Password}}{{end}}">
        {{with .Errors}}{{with index . "Password"}}<div style="color:red">{{.}}</div>{{end}}{{end}}
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>